/* Font family
font-family: 'Roboto', sans-serif;
Roboto:300,400,700 */

/* Main Styles */
h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
h3, li, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
/* Navbar Styles */
.navbar-brand {
  height: 70px;
}
.navbar-brand img {
  height: 50px;
  margin-left: 40px;
}
.navbar-default {
  margin-bottom: 0;
  height: 80px;
  border-top: solid 6px #006341;
  border-radius: 0;
}
.navbar .navbar-nav li a {
  text-transform: uppercase;
  padding-top: 25px;
  color: #000;
}
.navbar-toggle {
  margin-right: 40px;
  margin-top: 20px;
}
.container-fluid>.navbar-header {
  margin: 0;
}

/* Header Styles */
.header-starbucks {
  background-image: url('../images/banner1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.header-starbucks-container-text {
  text-align: center;
  background: #000;
  opacity: 0.7;
  border-radius: 25px;
  box-sizing: border-box;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-top: 50px;
  margin-bottom: 50px;
}
.header-starbucks-container-text h1 {
  color: #fff;
  text-transform: uppercase;
}
.header-starbucks-container-text p {
  color: #fff;
}
.fa-star {
  font-size: 3.5em;
  color: #fff;
  margin-bottom: 10px;
}
.btn-starbucks {
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  width: 200px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
/* Section 2 */
.header-starbucks-second {
  background-image: url('../images/stars2.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.header-starbucks-container-text-second {
  text-align: center;
  background: #000;
  opacity: 0.7;
  border-radius: 25px;
  box-sizing: border-box;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-top: 50px;
  margin-bottom: 50px;
}
.header-starbucks-container-text-second h1 {
  color: #fff;
  text-transform: uppercase;
}
.header-starbucks-container-text-second p {
  color: #fff;
}
.fa-thumbs-up {
  font-size: 3.5em;
  color: #fff;
  margin-bottom: 10px;
}
/* Section 3 */
.footer-starbucks {
  background-color: #f6f6f6;
}
.header-starbucks-third {
  background-image: url('../images/beans.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.header-starbucks-container-text-third {
  text-align: center;
  background: #000;
  opacity: 0.7;
  border-radius: 25px;
  box-sizing: border-box;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-top: 50px;
  margin-bottom: 50px;
}
.header-starbucks-container-text-third h1 {
  color: #fff;
  text-transform: uppercase;
}
.header-starbucks-container-text-third p {
  color: #fff;
}
.fa-heart {
  font-size: 3.5em;
  color: #fff;
  margin-bottom: 10px;
}
/* Footer */
.footer-social-icons {
  text-align: center;
  font-size: 3em;
}
.fa-facebook {
  color: #3b579d;
}
.fa-twitter-square {
  color: #2caae1;
}
.footer-logo {
  text-align: center;
}
.footer-logo img {
  max-height: 70px;
  display: inline-block;
  margin-bottom: 10px;
}
.footer-text {
  text-align: center;
  margin-bottom: 25px;
}
.footer-line-container {
  padding: 0;
  margin-bottom: 20px;
}
.footer-line {
  border-top: solid 8px #382f2e;
  margin: 0
}
