/* Font family
font-family: 'Roboto', sans-serif;
Roboto:300,400,700 */

/* Main Styles */
h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
h3, li, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.container-fluid {
  padding: 0;
}
/* Navbar Styles */
.navbar-brand {
  height: 70px;
}
.navbar-brand img {
  height: 50px;
  margin-left: 40px;
}
.navbar-default {
  margin-bottom: 0;
  height: 80px;
  border-top: solid 6px #006341;
  border-radius: 0;
}
.navbar .navbar-nav li a {
  text-transform: uppercase;
  padding-top: 25px;
  color: #000;
}

/* Header Styles */
.header-starbucks {
  background-image: url('../images/banner1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
  margin-bottom: 10px;
}
.header-starbucks-container-text {
  text-align: center;
  position: absolute;
  top: 75px;
}
.header-starbucks-container-text {
  background: #000;
  opacity: 0.7;
  border-radius: 25px;
}
.header-starbucks-container-text h1 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 50px;
}
.header-starbucks-container-text p {
  color: #fff;
}
.fa-star {
  font-size: 3.5em;
  color: #fff;
  margin-bottom: 10px;
}
.btn-starbucks {
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  width: 200px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 50px;
}
/* Section 2 */
.header-starbucks-second {
  background-image: url('../images/stars2.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: 10px;
}
.header-starbucks-container-text-second {
  text-align: center;
  top: 50px;
}
.header-starbucks-container-text-second {
  background: #000;
  opacity: 0.7;
  border-radius: 25px;
}
.header-starbucks-container-text-second h1 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 50px;
}
.header-starbucks-container-text-second p {
  color: #fff;
}
.fa-thumbs-up {
  font-size: 3.5em;
  color: #fff;
  margin-bottom: 10px;
}
/* Section 3 */
.header-starbucks-third {
  background-image: url('../images/beans.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}
.header-starbucks-container-text-third {
  text-align: center;
  top: 50px;
}
.header-starbucks-container-text-third {
  background: #000;
  opacity: 0.7;
  border-radius: 25px;
}
.header-starbucks-container-text-third h1 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 50px;
}
.header-starbucks-container-text-third p {
  color: #fff;
}
.fa-heart {
  font-size: 3.5em;
  color: #fff;
  margin-bottom: 10px;
}
